<h2> {{ title }}</h2>

<div>
    <form method="post">
        <input type="search" name="search_filter">
        <button name="submit" > {{ 'Filter' | t }} </button>
    </form>
</div>

<div><h4> Select the type of movie: </h4>
    <ul>
        {% for filter in filters %}
            <li><a href="{{ path('<current>') ~ '?filter=' ~ filter.id }}">{{ filter.name }}</a></li>
        {% endfor %}
    </ul>
</div>


<div>

    {% for movie in movies %}
        <h3>{{ movie.title }}   </h3>
        Brief description:   {{ movie.description | raw }} <br>
        Main actor:  {{ movie.actors |raw }} <br>
        Director: {{ movie.directors |raw }} <br>
        Type of movie:  {{ movie.movietype }} <br>
        <img src=" {{ file_url(movie.poster) }} "> <br>
    {% endfor %}
</div>

{#<div>#}
{#    {% for movie in movies %}#}
{#        {% if searchFilter == movie.title %}#}
{#            {{ movie.title }}#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#</div>#}

<div>


            {% for i in 0..pager.total -1 %}
                <a href="{{ path('<current>') ~ '?filter=' ~ pager.currentFilter ~ '&page=' ~ i ~ '&search=' ~ pager.searchFilter }}"> < {{ i }} > </a>
            {% endfor %}
      
</div>


